* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#barchart {
    width: 800px;
    height: 400px;
    background-color: orange;
    margin: 20px auto;
}

.x-axis path .x-axis line {
    shape-rendering: crispEdges;
}